java/com/android/dialer/app/res/values-af/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-am/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ar/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-as-rIN/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ast-rES/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-az/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-b+sr+Latn/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-be/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-bg/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-bn/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-br-rFR/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-bs/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ca/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-cs/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-csb/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-cy/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-da/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-de/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-el/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-en-rAU/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-en-rCA/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-en-rGB/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-en-rIN/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-en-rPT/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-eo/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-es/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-es-rCO/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-es-rMX/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-es-rUS/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-et/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-eu/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-fa/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-fi/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-fil/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-fr/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-fr-rCA/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-frp/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-fy-rNL/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ga-rIE/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-gd/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-gl/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-gu/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-hi/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-hr/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-hu/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-hy/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-in/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-is/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-it/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-iw/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ja/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ka/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-kab-rDZ/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-kk/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-km/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-kn/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ko/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ku/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ky/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-lb/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-lo/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-lt/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-lv/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-mk/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ml/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-mn/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-mr/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ms/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-my/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-nb/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ne/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-nl/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-oc/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-or-rIN/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-pa/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-pl/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-pt/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-pt-rBR/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-pt-rPT/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-rm/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ro/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ru/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-sc-rIT/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-si/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-sk/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-sl/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-sq/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-sr/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-sv/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-sw/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ta/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-te/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-th/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-tl/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-tr/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ug/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-uk/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-ur/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-uz/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-vec/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-vi/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-zh-rCN/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-zh-rHK/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-zh-rTW/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-zu/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-af/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-am/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ar/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-as-rIN/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ast-rES/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-az/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-b+sr+Latn/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-be/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-bg/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-bn/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-br-rFR/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-bs/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ca/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-cs/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-csb/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-cy/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-da/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-de/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-el/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-en-rAU/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-en-rCA/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-en-rGB/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-en-rIN/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-en-rPT/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-eo/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-es/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-es-rCO/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-es-rMX/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-es-rUS/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-et/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-eu/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-fa/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-fi/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-fil/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-fr/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-fr-rCA/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-frp/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-fy-rNL/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ga-rIE/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-gd/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-gl/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-gu/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-hi/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-hr/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-hu/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-hy/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-in/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-is/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-it/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-iw/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ja/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ka/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-kab-rDZ/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-kk/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-km/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-kn/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ko/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ku/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ky/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-lb/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-lo/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-lt/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-lv/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-mk/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ml/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-mn/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-mr/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ms/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-my/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-nb/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ne/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-nl/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-oc/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-or-rIN/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-pa/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-pl/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-pt/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-pt-rBR/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-pt-rPT/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-rm/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ro/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ru/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-sc-rIT/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-si/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-sk/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-sl/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-sq/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-sr/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-sv/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-sw/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ta/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-te/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-th/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-tl/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-tr/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ug/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-uk/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ur/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-uz/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-vec/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-vi/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-zh-rCN/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-zh-rHK/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-zh-rTW/ext_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-zu/ext_strings.xml merge=ours
java/com/android/dialer/app/res/values-af/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-am/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ar/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-as-rIN/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ast-rES/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-az/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-b+sr+Latn/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-be/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-bg/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-bn/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-br-rFR/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-bs/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ca/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-cs/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-csb/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-cy/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-da/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-de/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-el/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-en-rAU/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-en-rCA/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-en-rGB/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-en-rIN/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-en-rPT/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-eo/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-es/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-es-rCO/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-es-rMX/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-es-rUS/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-et/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-eu/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-fa/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-fi/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-fil/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-fr/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-fr-rCA/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-frp/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-fy-rNL/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ga-rIE/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-gd/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-gl/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-gu/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-hi/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-hr/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-hu/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-hy/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-in/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-is/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-it/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-iw/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ja/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ka/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-kab-rDZ/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-kk/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-km/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-kn/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ko/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ku/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ky/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-lb/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-lo/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-lt/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-lv/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-mk/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ml/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-mn/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-mr/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ms/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-my/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-nb/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ne/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-nl/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-oc/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-or-rIN/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-pa/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-pl/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-pt/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-pt-rBR/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-pt-rPT/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-rm/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ro/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ru/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-sc-rIT/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-si/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-sk/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-sl/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-sq/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-sr/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-sv/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-sw/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ta/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-te/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-th/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-tl/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-tr/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ug/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-uk/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-ur/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-uz/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-vec/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-vi/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-zh-rCN/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-zh-rHK/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-zh-rTW/cm_strings.xml merge=ours
java/com/android/dialer/app/res/values-zu/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-af/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-am/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ar/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-as-rIN/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ast-rES/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-az/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-b+sr+Latn/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-be/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-bg/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-bn/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-br-rFR/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-bs/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ca/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-cs/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-csb/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-cy/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-da/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-de/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-el/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-en-rAU/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-en-rCA/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-en-rGB/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-en-rIN/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-en-rPT/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-eo/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-es/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-es-rCO/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-es-rMX/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-es-rUS/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-et/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-eu/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-fa/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-fi/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-fil/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-fr/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-fr-rCA/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-frp/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-fy-rNL/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ga-rIE/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-gd/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-gl/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-gu/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-hi/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-hr/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-hu/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-hy/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-in/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-is/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-it/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-iw/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ja/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ka/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-kab-rDZ/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-kk/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-km/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-kn/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ko/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ku/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ky/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-lb/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-lo/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-lt/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-lv/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-mk/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ml/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-mn/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-mr/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ms/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-my/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-nb/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ne/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-nl/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-oc/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-or-rIN/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-pa/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-pl/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-pt/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-pt-rBR/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-pt-rPT/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-rm/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ro/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ru/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-sc-rIT/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-si/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-sk/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-sl/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-sq/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-sr/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-sv/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-sw/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ta/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-te/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-th/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-tl/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-tr/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ug/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-uk/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-ur/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-uz/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-vec/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-vi/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-zh-rCN/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-zh-rHK/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-zh-rTW/cm_strings.xml merge=ours
java/com/android/dialer/lookup/res/values-zu/cm_strings.xml merge=ours